@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

$color1: #001011;
$color2: #093a3e;
$color3: #3aafb9;
$color4: #64e9ee;
$color5: #97c8eb;


* {
  background: $color1;
  box-sizing: border-box;
  font-family: Play, sans-serif;
  color: white;
}

body {
  margin: 0;
}


.line {
  display: flex;
  margin: 30px auto;
  content: '';
  background: $color5;
  width: 90%;
  height: 1.5px;
  border-radius: 1150px 50px 1150px 50px;
}

.header {
  margin: 30px 0;
  display: flex;

  &-h1 {
    color: $color4;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 45px;
  }
}


.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 30px;
  margin-left: 40px;

  .manual {
    ul {
      font-size: 25px;
      margin-top: 30px;
      list-style-type: none;

      li {
        padding-top: 10px;
      }
    }
  }

  .forms {

    .form {
      display: flex;
      margin: 0 auto;
      align-items: center;
    }

    .input {
      border: none;
      background: $color4;
      color: white;
      width: 250px;
      height: 30px;
      margin-top: 5px;
      padding-left: 5px;
      border-radius: 5px;


      &::placeholder {
        color: $color1;
        font-size: 20px;
      }
    }

    .button {
      margin: 5px 0 0 10px;
      border: none;
      color: $color1;
      background: $color3;
      width: 100px;
      height: 30px;
      font-size: 20px;
      border-radius: 5px;

      &:hover {
        border: 3px solid $color5;
        transition: 0.2s;
      }
    }

    .dollar {
      position: absolute;
      color: $color1;
      left: 792px;
      color: $color1;
      background: none;
      font-size: 20px;
      margin-top: 3px;
    }
  }

  .result {
    display: flex;
    flex-direction: column;
    position: relative;

    .result-header {
      font-size: 35px;
      z-index: 999;
      background: none;
      margin-left: 145px;
    }

    .result-btn {
      align-self: end;
      margin-right: 80px;
      border: none;
      border: none;
      color: $color1;
      background: $color3;
      width: 150px;
      height: 30px;
      font-size: 20px;
      border-radius: 5px;

    }

    ul {
      position: absolute;
      left: 235px;
      top: 30px;
      list-style-type: none;
      font-size: 30px;
      background: none;

      li {
        padding-top: 10px;
        text-align: right;
      }
    }
  }
}


.footer {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;

  &-p {
    color: $color4;
    margin: 0 auto;
    text-transform: lowercase;
  }
}

.modal-box {
  display: flex;
  opacity: 0;
  width: 500px;
  height: 70px;
  background: $color5;
  margin: auto auto;
  border-radius: 10px;
  h4{
    background: none;
    font-size: 35px;
    align-self: center;
    margin: 0 auto;
  }
}